<mat-toolbar style="  box-shadow: 0 9px rgb(155, 151, 151); background-color:rgb(178, 225, 236); border-radius: 25px">
  <img src="https://stachhh.neocities.org/logo.jpg" style=" position: relative; left:90px;height:44px; width:90px" />
<span style=" padding-top: 5px;position: relative; left: 100px; font-family:fantasy; font-weight: bolder;font-size:40px">Store</span>

<p style='position:relative;left:450px;weight:10px;font-weight:bold;font-size:30px'>Hello! {{this.userfname}} {{this.userlname}}</p>
<nav  style="position: relative; left: 650px">
  <a routerLink="/checkout"  routerLinkActive="active"  style="border-radius: 30px;background-color: cornsilk;font-weight:bold;" class="btn btn-primary;">View Cart</a>
 </nav>
 

 <nav  style="position: relative; left: 700px">
    <a routerLink="/homepage"  routerLinkActive="active"  style="border-radius: 30px;background-color: cornsilk;font-weight:bold;" class="btn btn-primary;">Home Page</a>
   </nav>
</mat-toolbar>


    <div id="notfound">
        <div class="notfound">
            <h2>Your order is successfully placed :) <img src="https://stachhh.neocities.org/lego.jpg" width="50" height="50" /></h2>
         
           
<nav>
  <a routerLink="/homepage"  routerLinkActive="active">Go To Homepage</a>
  </nav>
            
        </div>
    </div>
