
<style>
  p {
    position: relative;
    left: 480px;
    top:50px;
    font-weight: bolder;
    font-family:monospace;
    font-size: 55px;
  }
div {
    position: center;


}

</style>


<p >Welcome to Lego</p>
<div class="text-center" style= "position:relative; top: 50px;left: 550px; float:left">
  <!-- <form> -->
    <nav>
    <a routerLink="/login" routerLinkActive="active" class="nav-link text-dark" style=" position:relative;float:left; left:30px; font-size:45px; font-family:monospace" >
      Log in
    </a>
  </nav>
    <br>
    <br>
    <br>
    
  <nav>
    <a  routerLink="/register" routerLinkActive="active"  class="nav-link text-dark" style=" position:relative;float:left; right:160px; font-size:45px; font-family:monospace" >
      Register
    </a>
  </nav>
  
  <carousel style="position:relative;float:left; right:240px;">
      <slide >
          <img src="https://stachhh.neocities.org/lego4.jpg" alt="first slide" style="display: block;height:450px; width: 800px;">
        </slide>
      <slide>
          <img src="https://stachhh.neocities.org/l3.jpg" alt="second slide" style="display: block; width: 800px;">
        </slide>
      <slide>
          <img src="https://stachhh.neocities.org/l1.png" alt="third slide" style="display: block; width: 800px;">
        </slide>
    </carousel>
</div>