<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fa6784bd-6184-4141-921a-a2b0f86ce19c/resourceGroups/Final_Project/providers/Microsoft.Web/sites/Asplego</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://asplego.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>asplego.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Asplego</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Asplego</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>